/*=============================================>>>>>
= Colour =
===============================================>>>>>*/

$darkOrange: #f09a26;
$lightOrange: #f0ac4b;

$darkGray: #123651;
$lightGray: #e5eaf0;

$darkBlue: #0f1e29;
$lightBlue: #285080;

$black: #000000;
$white: #ffffff;
