//FONT FAT FRANK
@mixin FatFrank16() {
  font-family: "Fat Frank Heavy Reg";
  @include font-lineH-23;
  letter-spacing: 0.3px;
}

//REAL TEXT
@mixin RealTextLight16 {
  font-family: "Real Text Light";
  @include font-lineH-16;
  letter-spacing: 0.3px;
}

@mixin RealTextReg16 {
  font-family: "Real Text Regular";
  @include font-lineH-16;
  letter-spacing: 0.3px;
}

@mixin RealTextBold16 {
  font-family: "Real Text Bold";
  @include font-lineH-16;
  letter-spacing: 0.3px;
}

//HAGIN CAPS TEXT
@mixin HC23() {
  font-family: "HaginCaps Medium";
  @include font-lineH-28;
  letter-spacing: 0.5px;
}

@mixin HC48() {
  font-family: "HaginCaps Medium";
  @include font-lineH-48;
  letter-spacing: 0.5px;
}

@mixin HC69() {
  font-family: "HaginCaps Medium";
  @include font-lineH-69;
  letter-spacing: 0.5px;
}

@mixin HC96() {
  font-family: "HaginCaps Medium";
  @include font-lineH-96;
  letter-spacing: 0.5px;
}
