// /*=============================================>>>>>
// = Font Helper =
// ===============================================>>>>>*/


@font-face {
  font-family: 'Real Text Regular';
  src: url('../../../public/fonts/rt-reg.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Real Text Bold';
  src: url('../../../public/fonts/rt-bold.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Real Text Light';
  src: url('../../../public/fonts/rt-light.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Fat Frank Free';
  src: url('../../../public/fonts/ff-free.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Fat Frank Heavy Reg';
  src: url('../../../public/fonts/ff-hevReg.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'HaginCaps Medium';
  src: url('../../../public/fonts/Hagin-Caps-Med.otf');
  font-style: normal;
}
