@import "_fonts.scss";
@import "_reset.scss";
/*@import '_typography.scss';*/

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: $black;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //align-content: center;
  color: $white;
  font-family: "Real Text Light", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
