.container {
  width: 100%;
  @include flex-x-y-d(center, center, row);

  .fixed {
    width: 100%;
    @include flex-x-y-d(space-between, center, column);

    .img {
      //margin-bottom: 15px;
      width: 100%;
      @include flex-x-y-d(space-evenly, center, row);

      .logoWrapper {
        position: relative;

        .logo {
          width: clamp(290px, 30.417vw, 565px);
          height: auto;
        }

        .domi {
          @include flex-x-y-d(center, center, row);
          position: absolute;
          inset: 20px 0px 0px 0px;

          @include media-up(layout-bp) {
            top: 25px;
          }

          b {
            @include font-lineH-72;
          }

          h1 {
            @include HC69;
            padding-top: pixelToVH(30);
            color: white;

            @include media-up(layout-bp) {
              padding-top: 30px;
            }

            &:nth-child(2) {
              color: $darkOrange;
            }
          }
        }
      }
    }

    .links {
      @include flex-x-y-d(space-evenly, center, row);
      width: 100%;
      background-color: $darkOrange;
      @include HC23;
      position: relative;

      p {
        @include fullValPadding(23, 20, 20, 20);
        cursor: pointer;

        &:hover {
          background: $darkGray;
          transition: all 0.4s ease-in-out;
        }
      }
    }

    .fix {
      position: fixed;
      max-width: 1920px;
      //box-shadow: 0px 0px 5px 0px #00000033;
    }
  }
}
